{% if page.categories %}
  {% capture categories %}
    {% for category in page.categories %}
      <span class="label  label--category"><a href="{{ site.baseurl }}/categories/#{{ category | downcase | slugify }}">{{ category }}</a></span>{% if forloop.last == false %},{% endif %}
    {% endfor %}
  {% endcapture %}
{% elsif page.category %}
  {% capture categories %}
    <span class="label  label--category"><a href="{{ site.baseurl }}/categories/#{{ page.category | downcase | slugify }}">{{ page.category }}</a></span>
  {% endcapture %}
{% endif %}

<small class="small  post-meta">
  {% assign date_format = site.date_format | default: "%d %b %Y" %}
  {{ categories | append: "&nbsp;&middot;&nbsp;" }}<time datetime="{{ page.date | date_to_xmlschema }}" class="time">
    {% assign m = page.date | date: "%-m" %}
    {{ page.date | date: "%-d" }}
    {% case m %}
    {% when '1' %}Janeiro
    {% when '2' %}Fevereiro
    {% when '3' %}Março
    {% when '4' %}Abril
    {% when '5' %}Maio
    {% when '6' %}Junho
    {% when '7' %}Julho
    {% when '8' %}Agosto
    {% when '9' %}Setembro
    {% when '10' %}Outubro
    {% when '11' %}Novembro
    {% when '12' %}Dezembro
    {% endcase %}
    {{ page.date | date: "%Y" }}
  </time>
</small>
